/* === CSS VARIABLES === */

:root {

    /* Colors */
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(0, 0%, 96%);
    --clr-neutral-300: hsl(0, 0%, 90%);
    --clr-neutral-400: hsl(24, 5%, 64%);
    --clr-neutral-500: hsl(25, 5%, 45%);
    --clr-neutral-600: hsl(33, 5%, 32%);
    --clr-neutral-700: hsl(0, 0%, 25%);
    --clr-neutral-800: hsl(0, 0%, 9%);
    --clr-neutral-900: hsl(0, 0%, 4%);

    --clr-primary-100: hsl(183, 100%, 96%);
    --clr-primary-200: hsl(185, 96%, 90%);
    --clr-primary-300: hsl(186, 94%, 82%);
    --clr-primary-400: hsl(188, 86%, 53%);
    --clr-primary-500: hsl(189, 94%, 43%);
    --clr-primary-600: hsl(192, 91%, 36%);
    --clr-primary-700: hsl(193, 82%, 31%);
    --clr-primary-800: hsl(196, 64%, 24%);
    --clr-primary-900: hsl(197, 79%, 15%);
  
    --shadow: 0 5px 10px rgba(0, 0, 0, .3);
  
    /* Fonts */
    --ff-primary: 'Inter', sans-serif;
  
    --fs-100: 0.625rem;
    --fs-200: 0.75rem;
    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 2.25rem;
    --fs-800: 3rem;
    --fs-900: 4rem;
  
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
  
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;
    --spacing-xl: 4rem;
  
    --br-sm: 0.5em;
    --br-md: 1em;
    --br-lg: 1.5em;
    --br-xl: 3em;

  }
  
  @media (max-width: 35em) {
    :root {
        --fs-100: 0.5rem;
        --fs-200: 0.625rem;
        --fs-300: 0.75rem;
        --fs-400: .875rem;
        --fs-500: 1rem;
        --fs-600: 1.25rem;
        --fs-700: 1.75rem;
        --fs-800: 2.25rem;
        --fs-900: 3rem;
    }
  }
  
/* === CSS RESET === */

/* makes sizing simpler */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* min body height */

body {
    min-height: 100vh;
    line-height: 1.5;
}

/* responsive images/videos */
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

/* === GENERAL STYLES === */

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
    font-weight: var(--fw-normal);
    color: var(--clr-neutral-600);
}

h1,
h2,
h3 {
    letter-spacing: 1.2px;
    line-height: 1.1;
}

/* .main-container {
    display: grid;
    grid-template-columns: 300px 1fr;
} */

/* === HEADER === */

.header {
    background-image: linear-gradient(45deg, var(--clr-primary-900), var(--clr-primary-700));
}

.title {
    font-size: var(--fs-700);
    font-weight: var(--fw-bold);
    color: var(--clr-neutral-100);
}

.title--sm {
    font-size: var(--fs-500);
    font-weight: var(--fw-medium);
}

/* === SIDEBAR === */

.sidebar {
    position: fixed;
    z-index: 10;
    overflow: auto;
    width: 300px;
    height: calc(100vh - 115px);
    background-color: var(--clr-neutral-200);
    transform: translateX(0);
    transition: transform .3s;
}

.nav-items {
    cursor: pointer;
    padding: var(--spacing-xs);
}

.nav-items:hover,
.nav-items:focus {
    background-color: var(--clr-primary-100);
    border-radius: var(--br-sm);
}

@media (max-width: 35em) {
    .sidebar {
        transform: translateX(-300px);
    }
}

/* === MAIN SECTION === */

.main {
    margin-left: 300px;
    transition: all .3s;
}

@media (max-width: 35em) {
    .main {
        margin-left: 0;
    }
}

/* === TASK MODAL === */

.task-modal {
    overflow: hidden;
    margin: 0 auto;
    width: 600px;
    background-color: var(--clr-neutral-100);
    border: 0;
    border-radius: var(--br-md);
    box-shadow: var(--shadow);
}

.task-modal__header { 
    padding: var(--spacing-md);
    color: var(--clr-primary-100);
    background-image: linear-gradient(45deg, var(--clr-primary-900), var(--clr-primary-700));
}

.task-form {
    padding: var(--spacing-md);
}

.form-label {
    font-size: var(--fs-200);
    font-weight: var(--fw-medium);
    text-transform: uppercase;
}

.form-input {
    padding: var(--spacing-sm);
    font-size: var(--fs-300);
    color: var(--clr-neutral-500);
    background-color: var(--clr-primary-200);
    border: 0;
    border-radius: var(--br-md);
}

/* === TASK ITEMS === */

.title--sm {
    font-size: var(--fs-600);
    font-weight: var(--fw-bold);
    margin: var(--spacing-md) 0;
}

.task-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    padding: var(--spacing-md);
    margin-bottom: var(--spacing-md);
    color: var(--clr-neutral-700);
    border-bottom: 1px solid var(--clr-neutral-300);
}

/* === BUTTONS === */

.btn {
    cursor: pointer;
    padding: var(--spacing-sm) var(--spacing-lg);
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary-900);
    border: 0;
    border-radius: var(--br-md);
    transition: .05s ease;
}

.btn:hover,
.btn-focus {
    transform: scale(1.05);
}

.btn-add {
    cursor: pointer;
    fill: var(--clr-primary-100);
    transition: .05s ease;
}

.btn-add:hover,
.btn-add:focus {
    transform: scale(1.15);
}

/* === UTILITY CLASSES === */

.no-bullets {
    list-style: none;
}

.container {
    max-width: 1170px;
    padding: var(--spacing-lg);
    margin: 0 auto;
}
.flex {
    display: flex;
}
.flex-columns {
    flex-direction: column;
}
.align-items-center {
    align-items: center;
}
.align-content-center {
    align-content: center;
}
.justify-items-center {
    justify-items: center;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.text-align-center {
    text-align: center;
}
.align-right {
    margin-left: auto;
}

/* spacing */

.gap-xs {
    gap: var(--spacing-xs)
}
.gap-sm {
    gap: var(--spacing-sm)
}
.gap-md {
    gap: var(--spacing-md)
}
.gap-lg {
    gap: var(--spacing-lg)
}
.mb-xs {
    margin-bottom: var(--spacing-xs)
}
.mb-sm {
    margin-bottom: var(--spacing-sm)
}
.mb-md {
    margin-bottom: var(--spacing-md)
}
.mb-lg {
    margin-bottom: var(--spacing-lg)
}

.github:hover {
    opacity: 50%;
}